html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
    font-family: Arial;
}

#feed-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.feed-item {
    position: relative;
    height: 100vh;
    scroll-snap-align: start;
}

.feed-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feed-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-shadow: 0 0 10px black;
}

.game-item {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
    position: relative;
}

.game-frame {
    width: 100%;
    height: 100%;
    border: none;
}

.game-title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 22px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 0px 10px black;
}
